* {
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 24px; } }

body {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.6); }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  color: darkgray; }

h1 {
  font-size: 1.6rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1.1rem; }

a {
  text-decoration: none; }

img {
  border-radius: 3px; }

.blog__article-img, .article__img, .about__img {
  box-shadow: 3px 3px 3px lightgray; }

.archive, .articles-by-category, .articles-by-tag {
  display: block; }

.archive__list, .articles-by-category__list, .articles-by-tag__list, .related-articles__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.archive__list-item, .articles-by-category__list-item, .articles-by-tag__list-item, .related-articles__list-item {
  margin-bottom: 15px;
  color: darkgray; }

.archive__list-item-link, .articles-by-category__list-item-link, .articles-by-tag__list-item-link, .related-articles__list-item-link {
  color: inherit;
  text-decoration: underline; }

.category, .tag {
  display: block; }

.category__list, .tag__list {
  list-style: none;
  margin: 0 30px 30px 0;
  padding: 0; }

.category__list-item, .tag__list-item {
  color: darkgray; }

.category__list-item-link, .tag__list-item-link {
  color: inherit;
  text-decoration: underline; }

.container {
  max-width: 95%;
  margin: 0 auto; }

@media (min-width: 576px) {
  .container {
    max-width: 85%;
    margin: 0 auto; } }

@media (min-width: 640px) {
  .container {
    max-width: 50%;
    margin: 0 auto; } }

@media (min-width: 640px) {
  .category {
    flex: 25%; } }

@media (min-width: 640px) {
  .tag {
    flex: 25%; } }

.header {
  width: 100%;
  padding: 40px 0; }

.header__promo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  font-size: 1.6rem;
  color: darkgray;
  text-align: center; }

.header__navbar {
  display: block;
  width: 100%;
  text-align: center; }

.header__navbar-items {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0; }

.header__navbar-item {
  display: block;
  width: 100%; }

.header__navbar-item-link {
  display: block;
  width: 100%;
  margin: 10px 0;
  color: darkgray; }

@media (min-width: 640px) {
  .header__navbar-items {
    list-style: none; }
  .header__navbar-item {
    display: inline-block;
    width: initial; }
  .header__navbar-item-link {
    padding: 0 1.5rem; }
  .header__navbar-item:first-child .header__navbar-item-link {
    text-align: right; }
  .header__navbar-item:last-child .header__navbar-item-link {
    text-align: left; } }

.footer {
  margin-top: 100px;
  padding: 1.5rem;
  height: 300px;
  text-align: center;
  background-color: #F8F9F9;
  color: darkgray; }

.blog {
  display: block; }

.blog__article-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.blog__article-list,
.blog__article-list-item {
  color: darkgray; }

.blog__article-list-item {
  border-bottom: solid 1px lightgray;
  margin-bottom: 30px; }

.blog__article {
  color: darkgray; }

.blog__article-link {
  color: inherit; }

.blog__article-img {
  width: 100%;
  height: 275px; }

.blog__article-excerpt {
  font-size: 1rem;
  color: darkgray; }

.blog__article-title {
  margin-bottom: 0; }

.blog__article-info {
  font-size: .8rem; }

@media (min-width: 992px) {
  .blog__article-img {
    width: 100%;
    height: 350px; } }

.article {
  display: block;
  border-bottom: solid 1px lightgray;
  margin-bottom: 15px;
  padding-bottom: 15px; }

.article p:last-child {
  margin-bottom: 0; }

.article__img {
  width: 100%;
  height: 275px; }

.article__title {
  margin-bottom: 0; }

.article__info {
  font-size: .8rem; }

@media (min-width: 992px) {
  .article__img {
    width: 100%;
    height: 350px; } }

.about__img {
  width: 100%;
  height: 275px; }

@media (min-width: 992px) {
  .about__img {
    width: 100%;
    height: 350px; } }

.article-navigator {
  display: block;
  border-bottom: solid 1px lightgray;
  padding-bottom: 15px;
  margin-bottom: 15px; }

.article-navigator__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap; }

.article-navigator__list-item-left, .article-navigator__list-item-right {
  flex: 50%;
  color: rgba(0, 0, 0, 0.6);
  font-size: .85rem; }

.article-navigator__list-item-left {
  text-align: left; }

.article-navigator__list-item-right {
  text-align: right; }

.article-navigator__list-item-left--hidden, .article-navigator__list-item-right--hidden {
  display: none;
  font-size: inherit; }

.article-navigator__list-item-link {
  display: inline-block;
  text-align: center;
  width: 6rem;
  margin: 3px;
  border: solid 1px lightgray;
  color: inherit;
  border-radius: 20px;
  box-shadow: 2px 2px 0 gray; }

.article-navigator__list-item-link:hover {
  background-color: lightgray;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  font-weight: bold;
  color: white; }

.article-tags {
  display: block; }

.article-tags__list {
  display: flex;
  flex: row wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: .5rem;
  background-color: #F8F9F9;
  border-radius: 3px; }

.article-tags__list-item {
  display: initial; }

.article-tags__list-item-link {
  display: inline-block;
  display: inline-block;
  text-align: center;
  width: initial;
  margin: 3px;
  border: solid 1px lightgray;
  color: inherit;
  border-radius: 20px;
  box-shadow: 2px 2px 0 gray;
  font-size: .57rem;
  padding: 3px 15px; }

.article-tags__list-item-link:hover {
  background-color: lightgray;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  font-weight: bold;
  color: white; }

.related-articles {
  margin-bottom: 15px;
  padding-bottom: 15px; }
